/*Filter buttons*/
.todo__filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter__btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter__btn:hover {
  background-color: #f0f0f0;
}

.filter__btn--active {
  background-color: #cf89f7;
  color: white;
  border-color: #cf89f7;
}

.filter__btn--active:hover {
  background-color: #bb53f8;
}

.container__list-item.hidden {
  display: none;
}
