/*To-do-list container*/
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
  width: max-content;
  background: var(--color-white);
  border-radius: 16px;
}

/*To-do-list header*/
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/*To-do-list title*/
.container__title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;
  width: 246px;
  height: 80px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  color: var(--color-black);
}

.container__list {
  width: 100%;
}

/*To-do-list items container*/
.container__list-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 8px;
  gap: 20px;
}

/* Completed task styling */
.container__list-item.completed .list-item__name {
  text-decoration: line-through;
  color: var(--color-gray-600);
}

/*To-do-list items name*/
.list-item__name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  margin-right: auto;
}

/* Checkbox styling */
.list-item__checkbox {
  width: 24px;
  height: 24px;
}

/* Delete button styling */
.list-item__delete-btn {
  font-family: "Rubik";
  font-size: 14px;
  padding: 4px 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.list-item__delete-btn:hover {
  background-color: var(--color-red-dark);
}

/* Container delete button styling */
.container__delete-btn {
  border: none;
  background-color: var(--color-white);
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.container__delete-btn:hover {
  border: 1px solid var(--color-red-light);
}

img {
  width: 20px;
}
